.form {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

mat-form-field.mat-form-field { background-color: white; }

mat-form-field {
    margin: 22px;
    padding: 22px;
    border: 1px solid #e6e6e6;
}

.mat-button , .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    width: 50%;
    background-color: white;
    border: 1px solid #e6e6e6;
}

table { 
    width: 100%; 
    margin-top: 40px; 
}

.submitted {
    visibility: show;
}

.mat-form-field-flex .mat-form-field-infix {
    border-top: 0;
    padding-bottom: 20px;
}

.flight {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
}

.flight .material-icons {
    font-size: 20px;
}
.flight-location {
    padding-left: 10px;
    font-size: 14px;
}

.swap-button {
    background: transparent;
    border: none;
}

button, .swap-button:focus {
    background: transparent;
    border: none;
    outline: none;
    border-color: none;
}