<form [formGroup]="flightForm" class="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <div class="flight">
      <mat-icon>flight_takeoff</mat-icon>
      <mat-label class="flight-location">From?</mat-label>
    </div>
    <input matInput placeholder="Ex: MIA" formControlName="origin">
    <mat-hint>Airport Code (MIA)</mat-hint>
  </mat-form-field>
  
  <button class="swap-button" type="button" (click)="swapFlight()">
    <mat-icon>swap_horiz</mat-icon>
  </button>

  <mat-form-field>
    <div class="flight">
      <mat-icon>flight_land</mat-icon>
      <mat-label class="flight-location">To?</mat-label>
    </div>
    <input matInput placeholder="Ex: JFK" formControlName="destination">
    <mat-hint>Airport Code (JFK)</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Departure date</mat-label>
    <input matInput [matDatepicker]="picker" required formControlName="departureDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-checkbox 
    class="round-trip-checkbox"
    [checked]="checked"
    (change)="checkedButton($event)"
    name="round-trip-checkbox" 
    formControlName="roundTrip">
    Round trip?
  </mat-checkbox>

  <div *ngIf="this.checked">
    <mat-form-field>
      <mat-label>Return date</mat-label>
      <input matInput [matDatepicker]="picker" required formControlName="returnDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <button mat-button class="button" type="submit" [disabled]="!flightForm.valid">
    <mat-icon>search</mat-icon>
  </button>
</form>

<table #dataTable mat-table [dataSource]="flightObjects$ | async" class="mat-elevation-z8" [hidden]="!(flightObjects$ | async)">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let flightObject"> {{ flightObject.date }} </td>
  </ng-container>

  <ng-container matColumnDef="carrier">
    <th mat-header-cell *matHeaderCellDef> Airliner </th>
    <td mat-cell *matCellDef="let flightObject"> {{ flightObject.carrier }} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let flightObject"> {{ flightObject.price }} </td>
  </ng-container>

  <ng-container matColumnDef="direct">
    <th mat-header-cell *matHeaderCellDef> Direct </th>
    <td mat-cell *matCellDef="let flightObject"> {{ flightObject.isDirect }} </td>
  </ng-container>


  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef> URL </th>
    <td mat-cell *matCellDef="let flightObject">
      <div *ngIf="flightObject.price == '--'; else elseBlock">
        --
      </div>
      <ng-template #elseBlock><a href={{flightObject.buyURL}} target="_blank">Select for more ticket info</a>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>