<h3>Get Flight Data</h3>

<form [formGroup]="flightForm">
  <label>
    Origin:
    <input type="text" formControlName="origin" required>
  </label>

  <label>Destination:
    <input type="text" formControlName="destination" required>
  </label>
  
  <label>
    Departure:
    <input type="text" formControlName="departureDate" required>
  </label>  
</form>

<button (click)="getFlights()">Submit</button>

<div *ngIf="this.flightService.emptyObservable">
  <p>No results came up for your search!</p>
</div>

<div *ngFor="let flightObject of flightObjects">
  {{ flightObject.price }}
  {{ flightObject.isDirect }}
  {{ flightObject.carrier }}
</div>

